<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Aula 06 - Dados e Metodos</title>
</head>
<body>
    <div id="app">
        {{numero}}
        <br>
        {{n1}}
        <br>
        <input type="number" name="numero" id="numero" v-model="numero">
        <input type="number" name="numero" id="n1" v-model="n1">
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script>
    data = {
        numero: 1,
        n1: undefined
    };

    //read only
    Object.freeze(data);

    app = new Vue({
        el: '#app',
        data: data
    })
</script>